Cactus==3.3.3
ChatterBot==0.4.7
Django==1.10.1
Eve==0.6.4
Flask==0.11.1
Keras==1.0.8
Lektor==2.3
Mercurial==3.9.1
Nikola==7.8.0
Pillow==3.3.1
Rester==0.5.0
SQLAlchemy==1.0.15
Scrapy==1.1.2
Sphinx==1.4.6
Tinkerer==1.5
Weblate==2.8
aldryn-faq==1.2.1
analyzer==0.1.1
ansible==2.1.1.0
arrow==0.8.0
behave==1.2.5
bottle==0.12.9
bpython==0.15
buildozer==0.32
bumper==0.1.11
cider==1.1.8
ckan==2.5.2
clint==0.5.1
cookiecutter==1.4.0
coverage==4.2
deepdiff==2.5.1
djangae==0.9.7
django-admin2==0.6.1
django-allauth==0.27.0
django-bootstrap3==7.0.1
django-braces==1.9.0
django-bulk-update==1.1.10
django-celery==3.1.17
django-cms==3.3.2
django-compressor==2.1
django-contact-form==1.2
django-crispy-forms==1.6.0
django-debug-toolbar==1.5
django-environ==0.4.0
django-extensions==1.7.3
django-floppyforms==1.7.0
django-fluent-comments==1.2.2
django-fluent-pages==1.0.1
django-grappelli==2.8.1
django-hosts==2.0
django-hvad==1.5.1
django-linguist==0.1.3
django-manager-utils==0.11.0
django-material==0.8.0
django-model-utils==2.5.2
django-modeltranslation==0.11
django-mongonaut==0.2.21
django-mptt==0.8.6
django-oauth-toolkit==0.10.0
django-oscar==1.3
django-page-cms==1.9.4
django-parler==1.6.5
django-phonenumber-field==1.1.0
django-pipeline==1.6.9
django-post-office==2.0.8
django-project-portfolio==1.1
django-registration==2.1.2
django-rest-auth==0.8.1
django-reversion==2.0.6
django-reversion-compare==0.7.1
django-ripozo==1.1.0
django-rosetta==0.7.12
django-storages-redux==1.3.2
django-suit==0.3a3
django-tables2==1.2.5
django-taggit==0.21.2
django-tagulous==0.11.1
django-test-plus==1.0.15
django-two-factor-auth==1.4.0
django-viewflow==0.10.1
django-watson==1.2.3
elpy==1.12.0
envoy==0.0.3
fabtools==0.19.0
flake8==3.0.4
flask-ripozo==1.0.4
flower==0.9.1
furl==0.5.2
graphene==0.10.2
gunicorn==19.6.0
hiredis==0.2.0
hitchtest==0.9.10
homu==0.2.0
httpie==0.9.6
invoke==0.13.0
ipdb==0.10.1
ispy==0.1.2
jieba==0.38
jsonfield==1.0.3
jupyter==1.0.0
keyring==9.3.1
maildump==0.5.4
matplotlib==1.5.2
mitmproxy==0.17
money==1.3.0
mongoengine==0.10.6
motor==0.6.2
mps-youtube==0.2.7.1
networkx==1.11
numpy==1.11.1
pandas==0.18.1
pandas-talib==0.0.1
passpie==1.5.4
pdbpp==0.8.3
peewee==2.8.3
pelican==3.6.3
peru==1.0.1
pgcli==1.2.0
pinggraph==0.0.13
pip==8.1.2
pip-tools==1.7.0
pipreqs==0.4.4
piprot==0.9.6
plumbum==1.6.2
pre-commit==0.9.0
proselint==0.7.0
psycopg2==2.6.2
ptpython==0.35
pudb==2016.2
purl==1.3
pyfolio==0.5.1
pyglet==1.2.4
pylama==7.0.9
pyquery==1.2.13
pyresttest==1.7.1
pytest==3.0.2
python-dateutil==2.5.3
python-see==1.1.1
python-social-auth==0.2.21
python-usernames==0.2.2
ripozo==1.3.0
rodeo==0.4.4
salt==2016.3.3
schedule==0.3.2
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.18.0
seaborn==0.7.1
sentry==8.7.0
slacker==0.9.24
sphinx-autobuild==0.6.0
splinter==0.7.4
sympy==1.0
thefuck==3.11
tmuxp==1.2.0
toga==0.1.2
tornado==4.4.1
unicodecsv==0.14.1
virtualenvwrapper==4.7.2
wagtail==1.6.2
webcolors==1.5
whitenoise==3.2.1
xonsh==0.4.6
youtube-dl==2016.9.3
zipline==1.0.1
